.leftsidebar{
     display: flex;
     flex-direction: column;
      flex: 0.15; 
      background-color: #242425;
      border-right: 0.5px solid rgba(128, 128, 128, 0.24);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131C20;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.808);
}
.homeicon{
    margin-left: 10px;
    color: white;
}
.homeicon:hover{
    background-color: #434343;
    border-radius: 2px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.profile > img{
    width: 30px;
    height: 30px;
    border-radius: 8px;
}
.profile>img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.808);
}
.profile > button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.logout{
    color: white;
    margin-left: 5px;
    margin-top: 4px;
}
.logout:hover{
    color: rgb(52, 247, 52);
    background-color: #434343;
    border-radius: 6px;
}

.clubsbar{
    display: flex;
    flex-direction: column;
    background-color: #131C29;
    flex: 1;
    padding: 2px;
}
.clubsheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222324;
    color: aliceblue;
    padding: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.178);
}
.club_add_icon{
    cursor: pointer;
    color: grey;
}
.club_add_icon:hover{
    color: white;
}
.clubs_button{
    border: none;
    margin: 0;
    padding: 0;
    background: #131C21;
    outline: none;
}
.clubs_button:hover{
 background: #434343;
 cursor: pointer;
}

/* scroll bar css */
::-webkit-scrollbar {
    width: 6px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #131C29;;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(85, 84, 84);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 228, 162);
  }
  .clubss{
    display: flex;
    flex:1;
    flex-direction: column;
    min-height: 80vh;
    max-height: 85vh; 
    overflow-y:scroll;
    margin-top: 2px;
    /* overflow-x:scroll; */
  }